<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Трактор</title>
</head>
<body>

<form th:method="POST" th:action="@{/vehicles/tractor}" th:object="${vehicle}">
    <label for="carBrand">Марка: </label>
    <input type="text" th:field="*{carBrand}" id="carBrand"><br><br>
    <label for="carModel">Модель: </label>
    <input type="text" th:field="*{carModel}" id="carModel"><br><br>
    <label for="carCategory">Категория: </label>
    <input type="text" th:field="*{carCategory}" id="carCategory"><br><br>
    <label for="stateNumber">Госномер: </label>
    <input type="text" th:field="*{stateNumber}" id="stateNumber"><br><br>
    <label for="carType">Тип: </label>
    <input type="text" th:field="*{carType}" id="carType"><br><br>
    <label for="yearOfProduction">Год выпуска: </label>
    <input type="text" th:field="*{yearOfProduction}" id="yearOfProduction"><br><br>
    <label for="hasTrailer">Есть прицеп? </label>
    <input type="checkbox" th:field="*{hasTrailer}" id="hasTrailer"><br><br>
    <label for="trailerType">Тип прицепа: </label>
    <input type="text" th:field="*{trailerType}" id="trailerType"><br><br>
    <label for="moverType">Тип движителя: </label>
<!--    <input type="text" th:field="*{moverType}" id="moverType"><br><br>-->
    <select th:field="*{moverType}" id="moverType">
        <option value="КОЛЕСА">Колёса</option>
        <option value="ГУСЕНИЦЫ">Гусеницы</option>
    </select><br><br>
    <input type="submit" value="Create!">

</form>

</body>
</html>